.chat {
  width: 500px;
  height: 450px;
  position: relative;
}

.chat_body {
  height: 365px;
  position: relative;
  overflow-y: auto;
}

.input {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.input_input {
  flex: 1;
}

.input_submit {
  width: 50px;
}

dl {
  position: relative;
  display: flex;
  flex-direction: column;
}

dd {
  margin: 0;
  align-self: end;
  color: dodgerblue;
}

dt {
  margin: 0;
  align-self: start;
  color: darkslateblue;
}
