.chat {
  width: 500px;
  height: 450px;
  position: relative;
}

.answer {
  color: darkslateblue;
}

.bot {
  color: dodgerblue;
  text-align: end;
}

.speak {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.speak > div {
  align-self: center;
  margin-right: 7px;
  cursor: pointer;
}

.input {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.input_input {
  flex: 1;
}

.input_submit {
  width: 50px;
}
