<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Frontend Path</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="/configuration?__HASH__" type="application/javascript"></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
